{
  "version": 64,
  "dnsServerDomain": "dns.netintegrate.net",
  "dnsServerLocalEndPoints": [
    "0.0.0.0:53",
    "[::]:53"
  ],
  "webServiceLocalAddresses": [
    "0.0.0.0"
  ],
  "webServiceHttpPort": 5380,
  "webServiceEnableHttps": true,
  "webServiceHttpsPort": 5443,
  "webServiceUseSelfSignedTlsCertificate": false,
  "webServiceTlsCertificatePath": "/etc/dns/certificates/dns.netintegrate.net_full_chain.pfx",
  "webServiceTlsCertificatePassword": "secure-cert-password-2024",
  "enableDnsOverHttp": false,
  "enableDnsOverTls": true,
  "enableDnsOverHttps": true,
  "enableDnsOverQuic": true,
  "dnsOverTlsCertificatePath": "/etc/dns/certificates/dns.netintegrate.net_full_chain.pfx",
  "dnsOverTlsCertificatePassword": "secure-cert-password-2024",
  "dnsOverHttpsCertificatePath": "/etc/dns/certificates/dns.netintegrate.net_full_chain.pfx",
  "dnsOverHttpsCertificatePassword": "secure-cert-password-2024",
  "dnsOverQuicCertificatePath": "/etc/dns/certificates/dns.netintegrate.net_full_chain.pfx",
  "dnsOverQuicCertificatePassword": "secure-cert-password-2024",
  "tsigKeys": [
    {
      "keyName": "home.netintegrate.net.",
      "sharedSecret": "base64-encoded-shared-secret",
      "algorithmName": "HMAC-SHA256"
    }
  ],
  "defaultRecordTtl": 3600,
  "useSoaSerialDateScheme": false,
  "zoneTransferAllowedNetworks": [],
  "notifyAllowedNetworks": [],
  "recursion": "AllowOnlyForPrivateNetworks",
  "recursionDeniedNetworks": [],
  "recursionAllowedNetworks": [
    "192.168.0.0/16",
    "10.0.0.0/8",
    "172.16.0.0/12",
    "127.0.0.0/8",
    "::1/128",
    "fe80::/10"
  ],
  "randomizeName": true,
  "qnameMinimization": true,
  "nsRevalidation": true,
  "resolverRetries": 2,
  "resolverTimeout": 5000,
  "resolverMaxStackCount": 16,
  "saveCache": true,
  "serveStale": true,
  "serveStaleTtl": 259200,
  "cacheMinimumRecordTtl": 10,
  "cacheMaximumRecordTtl": 604800,
  "cacheNegativeRecordTtl": 300,
  "cacheFailureRecordTtl": 10,
  "cachePrefetchEligibility": 2,
  "cachePrefetchTrigger": 9,
  "cachePrefetchSampleIntervalInMinutes": 5,
  "cachePrefetchSampleEligibilityHitsPerHour": 30,
  "proxy": null,
  "forwarders": [
    {
      "address": "1.1.1.1",
      "port": 53,
      "protocol": "Udp"
    },
    {
      "address": "1.0.0.1",
      "port": 53,
      "protocol": "Udp"
    },
    {
      "address": "8.8.8.8",
      "port": 53,
      "protocol": "Udp"
    },
    {
      "address": "8.8.4.4",
      "port": 53,
      "protocol": "Udp"
    }
  ],
  "forwarderProtocol": "Udp",
  "enableBlocking": true,
  "allowTxtBlockingReport": true,
  "blockingType": "AnyAddress",
  "customBlockingARecords": [
    "0.0.0.0"
  ],
  "customBlockingAaaaRecords": [
    "::"
  ],
  "blockListUrls": [
    "https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts",
    "https://mirror1.malwaredomains.com/files/justdomains",
    "https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=0",
    "https://someonewhocares.org/hosts/zero/hosts"
  ],
  "blockListUpdateIntervalHours": 24,
  "blockListNextUpdatedOn": "2024-01-01T02:00:00Z",
  "allowListUrls": [],
  "allowListUpdateIntervalHours": 24,
  "allowListNextUpdatedOn": "2024-01-01T02:00:00Z",
  "enableLogging": true,
  "ignoreResolverLogs": false,
  "logQueries": true,
  "useLocalTime": false,
  "logFolder": "/etc/dns/logs",
  "maxLogFileDays": 30,
  "maxLogFileSize": 104857600,
  "preferIPv6": false,
  "udpPayloadSize": 1232,
  "dnssecValidation": true,
  "eDnsClientSubnet": false,
  "eDnsClientSubnetIPv4PrefixLength": 24,
  "eDnsClientSubnetIPv6PrefixLength": 56,
  "eDnsClientSubnetIpv4Override": null,
  "eDnsClientSubnetIpv6Override": null,
  "qpmLimitRequests": 0,
  "qpmLimitErrors": 0,
  "qpmLimitSampleMinutes": 5,
  "qpmLimitIPv4PrefixLength": 24,
  "qpmLimitIPv6PrefixLength": 56,
  "qpmLimitBypassList": [],
  "clientTimeout": 4000,
  "tcpSendTimeout": 10000,
  "tcpReceiveTimeout": 10000,
  "quicIdleTimeout": 60000,
  "quicMaxInboundStreams": 100,
  "listenBacklog": 100,
  "webServiceUseSelfSignedTlsCertificate": false
}
